body{
    background-image: url("../imgs/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(10, 6, 0);
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-link{
    margin-left: 15px;
}
.info{
    margin-left: 150px;
    background-color: burlywood;
    color: rgb(13, 13, 15);
    border: none;
    font-weight: bolder;
}
.products{
    width: 22.3333333%;
    border: solid brown 1px;
    margin-left: 150px;
    margin-top: 100px;
    background-color: rgb(10, 5, 0);
    color: burlywood;
    border-radius: 15px;
    padding: 15px;
    float: left;
}
.navbar{
    background-color: black;
}
img{
    width: 400px;
    height: 300px;
}
h2{
    text-align: center;
}